.fgt{
    padding-left: 270px;
    padding-top: 20px;
    text-align: center;
    padding-right: 50px;
   font-family:Georgia, 'Times New Roman', Times, serif;
 
}
.backcl{
    background-color:rgb(242, 232, 252)
}